<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OilMoney</title>
    <link rel="stylesheet" href="./css_scripts/bootstrap.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Baloo|Rubik" rel="stylesheet">
    
                
    <link rel="stylesheet" href="./css_scripts/style.css">
</head>
<body ng-app="app" ng-controller="MainController">
  <div class="home" >
              <div class="navi">
                <div class="logo">
                  <img src="./img/logoimg.png">
                  <h4>OilMoney</h4>
                </div>
              
                <div class="navitems">
                  <i class="fas fa-home"></i>
                <h6><a href=""> Home</a></h6>
                </div>
            
                <div class="navitems">
                  <i class="far fa-map-marker-alt"></i>
                <h6> <a href=""> About Us</a> </h6>
                </div>
              
            
                <div class="navitems">
                  <i class="fas fa-users"></i>
                <h6> <a href="">Our Team</a></h6>
                </div>
            
                
                <div class="navitems">
                  <i class="far fa-envelope-open"></i>
                <h6> <a href="">Contact Us</a></h6>
                </div>
            
                
            
                <div class="navitems">
                  <i class="fas fa-sign-in-alt"></i>
                <h6><a href="./login.html">Sign In</a></h6>
                </div>


                
            
            
                
            
              </div>
              <div class="landing">
                      <div class="land">
                        <div class="land1a">
                          <h1 class ="display-3">OilMoney</h1>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Laborum, quia ea. Inventore nemo adipisci, 
                            iste repudiandae esse porro fugit quibusdam magni temporibus 
                            dolore id at in nulla necessitatibus totam earum?
                          </p>
                          <button class="">Invest Now</button>
                        </div>

                        <div class="land1b">
                          <img src="./img/Palmoil.jpg">
                        </div>
                        
                      </div>

                      <div class="about_us" >
                        <div class="about_us1  margic">
                          <div id="about" class="about_us2">
                            <h1 class="display-3" style="color: rgb(255, 87, 51);">About Us</h1>
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              Voluptates veniam recusandae omnis cumque, 
                              minima fuga ex nulla temporibus?
                              Laborum ipsam architecto et inventore iusto incidunt veniam corrupti quisquam accusamus illum!
                            </p>
                                  
                          </div>
                          <div id="profit" class="about_us2">
                          <h1 class="display-3" style="color:  rgb(255, 87, 51);">Profit Oriented</h1>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              Voluptates veniam recusandae omnis cumque, 
                            minima fuga ex nulla temporibus?
                              Laborum ipsam architecto et inventore iusto incidunt veniam corrupti quisquam accusamus illum!
                          </p>
                  
                            
                          </div>
                  
                          <div id="dynamic" class="about_us2">
                          <h1 class="display-3" style="color:rgb(255, 227, 51);" >Dynamic Portfolio</h1>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              Voluptates veniam recusandae omnis cumque, 
                            minima fuga ex nulla temporibus?
                              Laborum ipsam architecto et inventore iusto incidunt veniam corrupti quisquam accusamus illum!
                          </p>
                  
                            
                          </div>
                        </div>

                        <div class="about_us3 ">
                        <img id="profitg" src="./img/profit2.png">
                        <img id="dynamicg" src="./img/./Dynamic.png">
                        <img id="aboutg" src="./img/about.png">
                        </div>
                        
                      </div>

                      <div class="our_team">
                      <h1 class="display-1 mb-5 text-warning">Our Team</h1>
                        <div class="teamspace mb-5">
                          <div class="our_team1 ceo  margic">
                            <div class="teammate">
                              <img class="" src="./img/ceo.JPG">
                            <h4>Onyia Martins</h4>
                            <h6>Cheif Executive officer</h6>
                            </div>
                              </div>
                            
                            
                              <div class="our_team1 acct vanish  margic">
                                <div class="teammate">
                                  <img class="" src="./img/acct.JPG">
                                <h4>Onyia Martins O.</h4>
                                <h6>Account Officer</h6>
                                </div>
                                  </div>
                            
                            
                            
                            
                                  <div class="our_team1 cto vanish  margic">
                                    <div class="teammate">
                                      <img class="" src="./img/cto.JPG">
                                    <h4>Onyia Martins</h4>
                                    <h6>Cheif Technical Officer</h6>
                                    </div>
                                      </div>
                            
                            
                                      <div class="our_team1 srp vanish  margic">
                                        <div class="teammate">
                                          <img class="" src="./img/salesRep.JPG">
                                        <h4>Onyia Martins</h4>
                                        <h6>Sale Rep</h6>
                                        </div>
                                          </div>
                        </div>

                      </div>

                      <div class="contact_us">

                      
                        <div class="contactform">
                          <div class="glass1  one"></div>
                          <div class="glass1 two"></div>
                          <div class="glass1 three"></div>
                          <div class="glass1 four"></div>
                          <div class="glass1 five"></div>
                          <div class="form margic">
                            
                                  <form name="contactForm" class="conForm" novalidate>
                                      
                                    <div class="form-group">
                                      <label for="">Name</label>
                                      <input type="text"
                                        class="form-control" name="name" id="" aria-describedby="helpId" placeholder="" ng-model="contact.name"  ng-required= "true">
                                        <div ng-show = "contactForm.name.$touched && contactForm.name.$invalid" >
                                          <small  id="helpId" class="form-text" style="color:red;">Please Enter your name</small>
                                         
                                        </div>
                                     
                                    </div>
                                    <div class="form-group">
                                      <label for="">Email</label>
                                      <input type="email"
                                        class="form-control" name="email" id="" aria-describedby="helpId" placeholder=" {{contact.name}}" ng-model="contact.email"   ng-required = "true">
                                        <div ng-show = "contactForm.email.$touched && contactForm.email.$invalid" >
                                          <small  id="helpId" class="form-text" style="color:red;">Please Enter a valid email</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="">Message</label>
                                      <textarea class="form-control" name="message" id="" rows="3" ng-model="contact.message" ng-required = "true"></textarea>
                                      <div ng-show = "contactForm.message.$touched && contactForm.message.$invalid" >
                                        <small  id="helpId" class="form-text" style="color:red;">Please type your message</small>
                                      </div>
                                    
                                    </div>

                                    
                                    <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-disabled="contactForm.$invalid">Send</button>
                                    </span>
                                    

                                  </form>
                          </div>
                          <div class="location  margic"></div>
                        </div>
                        
                      </div>

               
                  
              </div>
 </div>


  



    

 
  


  

  

 <script src="./js_scripts/jquery.js"></script>
 <script src="./js_scripts/bootstrap.min.js"></script>
 <script src="./js_scripts/angular.min.js"></script>
 <script src="./js_scripts/angular-cookies.min.js"></script>
 <script src="./js_scripts/anime.js"></script>
 <script src="./js_scripts/script.js"></script>
 <script src="./js_scripts/index.js"></script>

</body>
</html>